<div *ngIf="person else nodata" >
    <table>
    <tr>
      <td class ="header">First Name</td>
      <td>{{person.givenName}}</td>
    </tr>
    <tr>
      <td class ="header">Surname</td>
      <td>{{person.surname}}</td>
    </tr>
    <tr>
      <td class ="header">Age</td>
      <td>{{person.age}}</td>
    </tr>
    <tr>
      <td class ="header">Email</td>
      <td>{{person.email}}</td>
     </tr> 
    
  </table></div>
  <ng-template #nodata>
        Person is undefined
  </ng-template>
