<table class="table">
    <thead class="table-info">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.givenName}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td><img [src]="user.photoURL"
                alt="User photo"
                class="img-thumbnail"
                width="100"
                height="100">
            </td>
        </tr>
    </tbody>
</table>
